.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-right {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 15px;
}

.header-links {
  color: #fff;
  text-decoration: none;
}

.icons {
  cursor: pointer;
}

.header-links:hover {
  text-decoration: underline;
}

.sign-in {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.sign-in:hover {
  background-color: #1863b4;
}

.home {
  position: relative;
}

.main {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 50%;
}
.main-mobile {
  position: absolute;
  top: 20%;
  width: 90%;
}

.logo {
  width: 40%;
  height: auto;
  margin-bottom: 40px;
}

.search-bar {
  width: 80%;
}

.search-bar-mobile {
  width: 95%;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: rgb(61, 55, 65);
  padding: 2%;
  border-radius: 40px;
}
.search-container-mobile {
  gap: 10px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 40px;
}

.search-container:hover {
  background-color: rgb(75, 68, 80);
}

.search-container:hover .search {
  background-color: rgb(75, 68, 80);
}

.search {
  border: none;
  outline: none;
  background-color: rgb(61, 55, 65);
  width: 100%;
}

.search-mobile {
  padding-top: 15px;
  padding-bottom: 15px;
}

.search-btm-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.search-btm-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex: 1; */
  /* gap: 5px; */
  width: 100%;
  margin-top: 15px;
}

.search-btm-icon {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  margin: 10px;
}

.image-icon {
  background-color: rgba(255, 255, 0, 0.108);
  color: yellow;
}

.lang-icon {
  background-color: #1863b419;
  color: #007bff;
}

.grad-icon {
  background-color: rgba(0, 128, 0, 0.126);
  color: lime;
}

.music-icon {
  background-color: rgba(255, 0, 230, 0.159);
  color: palevioletred;
}

.btm-btn {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(61, 55, 65);
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.info {
  display: flex;
  gap: 10px;
  font-size: small;
}

.link {
  color: #3c8de4;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(27, 27, 27);
}

.btm-links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.btm-links {
  display: flex;
  gap: 20px;
}
.btm-links a {
  color: #fff;
  text-decoration: none;
}

.btm-links a:hover {
  text-decoration: underline;
}
.country {
  padding-left: 20px;
  padding-top: 10px;
}
.country:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1155px) {
  .info {
    font-size: x-small;
  }
}
@media screen and (min-width: 768px) and (max-width: 906px) {
  .main {
    width: 70%;
    top: 30%;
  }
  .logo {
    width: 45%;
  }
  .search-bar {
    width: 90%;
  }
}
