.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-links {
  color: #fff;
  text-decoration: none;
}

.header-links:hover {
  text-decoration: underline;
}

.sign-in {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.home {
  position: relative;
}

.main {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 50%;
}

.logo {
  width: 40%;
  height: auto;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 5px;
}
